body{
  background-color: #4f645e;
  color: white;
  font-family: arial, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  margin-top: 13%;
}

h1{
  text-align: center;
  top: 50px;
}

h2.project{
    text-align: center;
    position: relative;
    top: -12px;
    font-weight: 500;
}

h2.project:hover{
  cursor: pointer;
}

footer{
  font-size: 1.8vh;
}

a:-webkit-any-link{
  color: white !important;
  font-weight: bold;
}

.color1{
  color: #6fb5df;
}

.noselect{
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}